html {
    font-size: 100%;
}

header {
    padding: 0.2rem;
    border-bottom: 1px solid black;
}

    header p {
        font-size: 1.1rem;
        margin: 2rem 1rem;
        font-weight: bold;
    }

body {
    margin: 0 auto;
    padding: 0;
    max-width: 1024px;
    font-family: system-ui, sans-serif;
    font-weight: normal;
}

main {
    margin: 0 1rem;
}

h1 {
    font-size: 1.8rem;
}

li {
    margin-left: 1rem;
}

p {
    margin: 1rem 0;
}

a {
    color: #00c;
}
